{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body_title %}Пенель преподавателя{% endblock %}

{% block body %}
    <div class="container">
        <h1>Панель преподавателя</h1>
        <hr>
        <hr>
        <a href="{{ path('blogger_blog_bidd_index') }}">Зявки</a>

    </div>
{% endblock %}